@page "/"
@using SquidLib.SquidGrid
@using SquidLib.SquidMath

<div>
    <h1>Roguelike Blazor Demo</h1>

    <div>
        <button @onclick="Randomize">Randomize</button>
    </div>

    <div>
        <MapDisplay @ref="map" />
    </div>
</div>

@code {
    private MapDisplay map;

    private RNG rng = new RNG();
    private WanderingRoomGenerator gen;

    protected override  void OnAfterRender(bool firstRender) {
        map.OnLoad(() => Randomize());
    }

    protected async Task Randomize() {
        gen = new WanderingRoomGenerator(map.GridWidth(), map.GridHeight(), rng);
        Grid<char> dungeon = gen.Generate();
        await map.Clear();
        for (int x = 0; x < dungeon.Width; x++) {
            for (int y = 0; y < dungeon.Height; y++) {
                await map.Put(x, y, dungeon[x, y].ToString());
            }
        }
    }
}
