@page "/"
@using SquidLib.SquidGrid
@using SquidLib.SquidMath

<div>
    <h1>Roguelike Blazor Demo</h1>

    <div>
        <button disabled="@generating" @onclick="Randomize">Randomize</button>
    </div>

    <div>
        <MapDisplay @ref="map" />
    </div>
</div>

@code {
    private MapDisplay map;

    private RNG rng = new();
    private WanderingRoomGenerator gen;

    private bool generating;

    protected override  void OnAfterRender(bool firstRender) {
        gen = new WanderingRoomGenerator(map.GridWidth(), map.GridHeight(), rng);
        map.OnLoad(() => Randomize());
    }

    protected async Task Randomize() {
        if (generating) {
            return; // make sure it doesn't try to restart after it's already started
        }
        generating = true;

        Grid<char> dungeon = gen.Generate();
        await map.Clear();
        for (int x = 0; x < dungeon.Width; x++) {
            for (int y = 0; y < dungeon.Height; y++) {
                await map.Put(x, y, dungeon[x, y].ToString());
            }
        }

        generating = false;
    }
}
